p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 25px;
}

h3 {
    letter-spacing: -1px
}

.top-buffer {
    margin-top: 20px;
}

a {
    display: inline-block;
}

.a-title:link, .a-title:visited, .a-title:active {
    color: #252525;
    text-decoration: none;
}
.a-title:hover {
    color: #3e3e3e;
}

.a-tag:link, .a-tag:visited, .a-tag:active {
    color: #04724d;
    text-decoration: none;
    font-weight: bold;
}

.a-tag:hover {
    color: #5fa58d;
}

a:link, a:visited, a:active {
    color: #04724d;
    text-decoration: none;
}

a:hover {
    color: #5fa58d;
}

.badge-info {
  background-color: #3a87ad;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #252525;
}

.navbar-default {
    background-color: white;
    border-color: white;
}

.navbar-default .navbar-brand {
    color: #252525;
    font-size: 20px;
    font-weight: bold;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #3e3e3e;
}

.navbar-default .navbar-nav > li > a {
    color: #252525;
    font-size: 18px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #303030;
}

.navbar-form .form-control {
    font-size: 18px;
}

.pager li > a, .pager li > span {
    border: none;
    border-radius: 0;
}

.pager li > a:focus, .pager li > a:hover {
    color: #5fa58d;
}

.no-border {
    border: none;
    box-shadow: none;
    border-width: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    color: #252525;
}

.no-border:focus, .no-border:hover {
    border: 0 1px 0 0 solid black;
    box-shadow: 0 2px 0 0;
    border-width: 0 1px 0 0;
    color: #3e3e3e;
}

.no-border::placeholder {
    color: #252525;
}

.sidebar p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 22px;
}

.sidebar h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 22px;
}

object {
    pointer-events: none;
    vertical-align: middle;
}

a svg {
    vertical-align: middle;
}

a svg #logo {
    fill: #04724d;
}

a svg:hover #logo {
  fill: #5fa58d;
}

.post {
    padding-bottom: 3rem;
}
