{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
       tomasfarias.com
    {% endif %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{ pagedown.include_pagedown() }}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tagselect.js') }}"></script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('blog.index') }}">tomasfarias.com</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('blog.index') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('blog.post', url_title='welcome-to-my-blog') }}">About</a>
                    </li>
                    <li>
                        <form action="{{ url_for('blog.search') }}" name="search" class="navbar-form" method="post">
                            <div class="md-form mt-0">
                                <input class="form-control no-border" type="text" placeholder="Search" name="post_title">
                            </div>
                        </form>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li>
                            <p class="navbar-text" style="margin-top: 10px; margin-bottom: 0px;">
                                <a href="https://github.com/tomasfarias" style="color: transparent">
                                    <img src="{{ url_for('static', filename='github.svg') }}" height="24px" width="24px">
                                </a>
                                <a href="https://www.linkedin.com/in/tomasfarias" style="color: transparent">
                                    <img src="{{ url_for('static', filename='linkedin.svg') }}" height="24px" width="24px">
                                </a>
                                <a href="https://stackoverflow.com/users/3994693/tomas-farias" style="color: transparent">
                                    <img src="{{ url_for('static', filename='stackoverflow.svg') }}" height="24px" width="24px">
                                </a>
                                <a href="mailto: tomasfariassantana@gmail.com" style="color: transparent">
                                    <img src="{{ url_for('static', filename='gmail.svg') }}" height="24px" width="24px">
                                </a>
                            </p>
                        </li>
                    {% else %}
                        <li><a href="{{ url_for('admin.create') }}">Create</a></li>
                        <li><a href="{{ url_for('admin.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 sidebar-bg">
                <div class="sidebar mr-4">
                    <h4><strong>About me</strong></h4>
                    <p>I'm Tomás Farías, a software engineer based in Buenos Aires, Argentina. I'll be using this blog to ramble about Python, games, fitness, or any other topic that piques my interest.</p>
                    <p>Feel free to interact with me in <a href="https://github.com/tomasfarias">GitHub</a>, <a href="https://www.linkedin.com/in/tomasfarias">LinkedIn</a>, <a href="https://stackoverflow.com/users/3994693/tomas-farias">Stack Overflow</a> or just <a href="mail to: tomasfariassantana@gmail.com">email me</a>.</p>
                    <p>Have fun!</p>
                    {% if tags %}
                        <hr>
                        <h4><strong>Most popular tags</strong></h4>
                        {% for tag in tags %}
                        <p>
                            <a href="{{ url_for('blog.index', query=tag.text) }}" class="a-tag">{{ tag.text }}</a> {{ tag.count }}
                        </p>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
            <div class="col-md-8 bg-secondary">
                {% block app_content %}
                {% endblock %}
            </div>
        </div>
        {%- block footer %}
            <footer class="page-footer font-small">
                <hr>
                <div class="footer-copyright text-center">&copy; 2019 Tomás Farías</div>
            </footer>
        {%- endblock footer %}
    </div>
{% endblock %}
